In [1]:
#Importing
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.linear_model import ElasticNet, Lasso, Ridge
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import LabelEncoder

In [3]:
#Reading and viewing file
data = pd.read_csv('train-set.csv')
print("dimension of data: {}".format(data.shape))
data.head()

dimension of data: (8523, 12)

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,OutletSales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
#Cleaning data
data.drop('ProductID', axis=1, inplace=True)
data.drop('OutletID', axis=1, inplace=True)
data.drop('EstablishmentYear', axis=1, inplace=True)
data.drop('OutletSize', axis=1, inplace=True)
data.drop('OutletType', axis=1, inplace=True)
data.drop('LocationType', axis=1, inplace=True)
le=LabelEncoder()
data["FatContent"] = le.fit_transform(data["FatContent"])  
data["ProductType"] = le.fit_transform(data["ProductType"])
data = data.dropna()
data.head()

   Weight  FatContent  ProductVisibility  ProductType       MRP  OutletSales
0    9.30           1           0.016047            4  249.8092    3735.1380
1    5.92           2           0.019278           14   48.2692     443.4228
2   17.50           1           0.016760           10  141.6180    2097.2700
3   19.20           2           0.000000            6  182.0950     732.3800
4    8.93           1           0.000000            9   53.8614     994.7052

In [5]:
#Preparing data
X = data.drop(columns=['OutletSales'])
y = data['OutletSales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
print (X_train.shape, X_test.shape)

(4942, 5) (2118, 5)

In [6]:
#Creating Model
model = LinearRegression()
model.fit(X=X_train, y=y_train)

for i, name in enumerate(data.columns):
    if name == "OutletSales":
        continue
    print(f'{name:>10}: {model.coef_[i]}')  
print ("intercept: ", (model.intercept_))

    Weight: -2.8747885271415785
FatContent: 31.41908547977535
ProductVisibility: -2498.1967253004605
ProductType: 3.3078928656602913
       MRP: 15.049626482926534
intercept:  117.71149811622035

In [7]:
#Testing model
predicted = model.predict(X_test)
expected = y_test
print (metrics.r2_score(expected, predicted))

0.4050324139391599